*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	background-color: rgb(241 245 249);
	scroll-behavior: smooth;
	scroll-snap-type: both proximity;
}

a {
	cursor: pointer;
	text-decoration: none;
}

ul {
	list-style: none;
}

.app {
	display: grid;
	grid-template-rows: 1fr auto 1fr;
	place-items: center;
}

.header,
.footer {
	padding: 1rem;
	width: 100%;
}

.header {
	margin-bottom: 1rem;
}

.footer {
	margin-top: auto;
}

.container {
	padding: 1rem 4rem;
	width: 100%;

	@include for-size(sm) { max-width: 540px; }
	@include for-size(md) { max-width: 720px; }
	@include for-size(lg) { max-width: 960px; }
	@include for-size(xl) { max-width: 1140px; }
	@include for-size(xxl) { max-width: 1320px; }
}
