.pokedex {
	display: grid;
	column-gap: 2rem;
	row-gap: 4rem;
	grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
	place-items: center;

	.card {
		align-items: center;
		background: rgb(208,176,121);
		background: -moz-linear-gradient(45deg, rgba(208,176,121,1) 0%, rgba(241,209,140,1) 45%, rgba(236,208,170,1) 65%, rgba(221,194,139,1) 80%, rgba(223,187,117,1) 90%, rgba(235,183,87,1) 100%);
		background: -webkit-linear-gradient(45deg, rgba(208,176,121,1) 0%, rgba(241,209,140,1) 45%, rgba(236,208,170,1) 65%, rgba(221,194,139,1) 80%, rgba(223,187,117,1) 90%, rgba(235,183,87,1) 100%);
		background: linear-gradient(45deg, rgba(208,176,121,1) 0%, rgba(241,209,140,1) 45%, rgba(236,208,170,1) 65%, rgba(221,194,139,1) 80%, rgba(223,187,117,1) 90%, rgba(235,183,87,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d0b079",endColorstr="#ebb757",GradientType=1);
		// background-image: url('../img/texture.svg');
		border-color: rgb(212, 175, 55);
		border-radius: 0.5rem;
		border-style: solid;
		border-width: 2px;
		box-shadow: 0 20px 25px -5px rgb(212 175 55 / 0.5), 0 8px 10px -6px rgb(212 175 55 / 0.5);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 25rem;
		padding: 1rem;
		width: 100%;

		&-header {
			align-items: center;
			color: rgb(212 175 55);
			display: flex;
			justify-content: flex-start;
			width: 100%;

			.pokemon-id {
				color: rgb(15 23 42);
				margin-right: 1rem;
			}

			.pokemon-name {
				color: rgb(15 23 42);
				font-weight: 700;
				line-height: 1rem;
				// -webkit-text-fill-color: rgb(212 175 55);
				// -webkit-text-stroke-color: rgb(15 23 42);
				// -webkit-text-stroke-width: 0.025rem;
			}
		}

		&-body {
			// border-radius: 100%;
			margin: 1rem 0;
			// outline-style: solid;
			// outline-offset: 4px;
			// outline-width: 2px;
			width: 100%;

			.card-content {
				box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
				padding: 1rem;

				.pokemon-img {
					align-items: center;
					display: flex;
					filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
					justify-content: center;
					position: relative;
					z-index: 2;
				}
			}

			.bug,
			.dragon,
			.electric,
			.fairy,
			.fighting,
			.fire,
			.flying,
			.ghost,
			.grass,
			.ground,
			.ice,
			.normal,
			.poison,
			.psychic,
			.rock,
			.steel,
			.water {
				border-radius: 0.5rem;
			}

			.bug {
				background: linear-gradient(90deg, rgb(252, 69, 106) 0%, rgb(63, 94, 251) 100%);
			}

			.dragon {
				background: linear-gradient(90deg, rgb(63,94,251) 0%, rgb(252,70,107) 100%);
			}

			.electric {
				background: linear-gradient(90deg, rgb(253, 187, 45) 0%, rgb(34, 193, 195) 100%);
			}

			.fairy {
				background: linear-gradient(90deg, rgb(239, 213, 255) 0%, rgb(81, 90, 218) 100%);
			}

			.fighting {
				background: linear-gradient(90deg, rgb(7, 0, 184) 0%, rgb(0, 255, 136) 100%);
			}

			.fire {
				background: linear-gradient(90deg, rgb(213, 51, 105) 0%, rgb(218, 174, 81) 100%);
			}

			.flying {
				background: linear-gradient(90deg, rgb(28, 181, 224) 0%, rgb(0, 8, 81) 100%);
			}

			.ghost {
				background: linear-gradient(90deg, rgb(63, 43, 150) 0%, rgb(168, 192, 255) 100%);
			}

			.grass {
				background: linear-gradient(90deg, rgb(158, 189, 19) 0%, rgb(0, 133, 82) 100%);
			}

			.ground {
				background: linear-gradient(90deg, rgb(252, 255, 158) 0%, rgb(198, 119, 0) 100%);
			}

			.ice {
				background: linear-gradient(90deg, rgb(227, 255, 231) 0%, rgb(217, 231, 255) 100%);
			}

			.normal {
				background: linear-gradient(90deg, rgb(238,174,202) 0%, rgb(148,187,233) 100%);
			}

			.poison {
				background: linear-gradient(90deg, rgb(0, 201, 255) 0%, rgb(146, 254, 157) 100%);
			}

			.psychic {
				background: linear-gradient(90deg, rgb(248, 255, 0) 0%, rgb(58, 213, 159) 100%);
			}

			.rock {
				background: linear-gradient(90deg, rgb(253, 187, 45) 0%, rgb(58, 28, 113) 100%);
			}

			.steel {
				background: linear-gradient(90deg, rgb(75, 108, 183) 0%, rgb(24, 40, 72) 100%);
			}

			.water {
				background: linear-gradient(90deg, rgb(0, 210, 255) 0%, rgb(58, 71, 213) 100%);
			}
		}

		&-footer {
			margin-top: auto;

			.pokemon-types {
				background-color: rgb(238 232 170);
				background-image: url('../img/morphing-diamonds.svg');
				border-radius: 0.5rem;
				padding: 0.25rem 0.5rem;
			}
		}
	}
}
