@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-solid::before,
.fa-solid::after,
.fa-brands::before,
.fa-brands::after {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.pokedex {
  display: grid;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  place-items: center;
}
.pokedex .card {
  align-items: center;
  background: rgb(208, 176, 121);
  background: linear-gradient(45deg, rgb(208, 176, 121) 0%, rgb(241, 209, 140) 45%, rgb(236, 208, 170) 65%, rgb(221, 194, 139) 80%, rgb(223, 187, 117) 90%, rgb(235, 183, 87) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d0b079",endColorstr="#ebb757",GradientType=1);
  border-color: rgb(212, 175, 55);
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 20px 25px -5px rgba(212, 175, 55, 0.5), 0 8px 10px -6px rgba(212, 175, 55, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 25rem;
  padding: 1rem;
  width: 100%;
}
.pokedex .card-header {
  align-items: center;
  color: rgb(212, 175, 55);
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.pokedex .card-header .pokemon-id {
  color: rgb(15, 23, 42);
  margin-right: 1rem;
}
.pokedex .card-header .pokemon-name {
  color: rgb(15, 23, 42);
  font-weight: 700;
  line-height: 1rem;
}
.pokedex .card-body {
  margin: 1rem 0;
  width: 100%;
}
.pokedex .card-body .card-content {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}
.pokedex .card-body .card-content .pokemon-img {
  align-items: center;
  display: flex;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.1)) drop-shadow(0 1px 1px rgba(0, 0, 0, 0.06));
  justify-content: center;
  position: relative;
  z-index: 2;
}
.pokedex .card-body .bug,
.pokedex .card-body .dragon,
.pokedex .card-body .electric,
.pokedex .card-body .fairy,
.pokedex .card-body .fighting,
.pokedex .card-body .fire,
.pokedex .card-body .flying,
.pokedex .card-body .ghost,
.pokedex .card-body .grass,
.pokedex .card-body .ground,
.pokedex .card-body .ice,
.pokedex .card-body .normal,
.pokedex .card-body .poison,
.pokedex .card-body .psychic,
.pokedex .card-body .rock,
.pokedex .card-body .steel,
.pokedex .card-body .water {
  border-radius: 0.5rem;
}
.pokedex .card-body .bug {
  background: linear-gradient(90deg, rgb(252, 69, 106) 0%, rgb(63, 94, 251) 100%);
}
.pokedex .card-body .dragon {
  background: linear-gradient(90deg, rgb(63, 94, 251) 0%, rgb(252, 70, 107) 100%);
}
.pokedex .card-body .electric {
  background: linear-gradient(90deg, rgb(253, 187, 45) 0%, rgb(34, 193, 195) 100%);
}
.pokedex .card-body .fairy {
  background: linear-gradient(90deg, rgb(239, 213, 255) 0%, rgb(81, 90, 218) 100%);
}
.pokedex .card-body .fighting {
  background: linear-gradient(90deg, rgb(7, 0, 184) 0%, rgb(0, 255, 136) 100%);
}
.pokedex .card-body .fire {
  background: linear-gradient(90deg, rgb(213, 51, 105) 0%, rgb(218, 174, 81) 100%);
}
.pokedex .card-body .flying {
  background: linear-gradient(90deg, rgb(28, 181, 224) 0%, rgb(0, 8, 81) 100%);
}
.pokedex .card-body .ghost {
  background: linear-gradient(90deg, rgb(63, 43, 150) 0%, rgb(168, 192, 255) 100%);
}
.pokedex .card-body .grass {
  background: linear-gradient(90deg, rgb(158, 189, 19) 0%, rgb(0, 133, 82) 100%);
}
.pokedex .card-body .ground {
  background: linear-gradient(90deg, rgb(252, 255, 158) 0%, rgb(198, 119, 0) 100%);
}
.pokedex .card-body .ice {
  background: linear-gradient(90deg, rgb(227, 255, 231) 0%, rgb(217, 231, 255) 100%);
}
.pokedex .card-body .normal {
  background: linear-gradient(90deg, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
}
.pokedex .card-body .poison {
  background: linear-gradient(90deg, rgb(0, 201, 255) 0%, rgb(146, 254, 157) 100%);
}
.pokedex .card-body .psychic {
  background: linear-gradient(90deg, rgb(248, 255, 0) 0%, rgb(58, 213, 159) 100%);
}
.pokedex .card-body .rock {
  background: linear-gradient(90deg, rgb(253, 187, 45) 0%, rgb(58, 28, 113) 100%);
}
.pokedex .card-body .steel {
  background: linear-gradient(90deg, rgb(75, 108, 183) 0%, rgb(24, 40, 72) 100%);
}
.pokedex .card-body .water {
  background: linear-gradient(90deg, rgb(0, 210, 255) 0%, rgb(58, 71, 213) 100%);
}
.pokedex .card-footer {
  margin-top: auto;
}
.pokedex .card-footer .pokemon-types {
  background-color: rgb(238, 232, 170);
  background-image: url("../img/morphing-diamonds.svg");
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: rgb(241, 245, 249);
  scroll-behavior: smooth;
  -ms-scroll-snap-type: both proximity;
      scroll-snap-type: both proximity;
}

a {
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style: none;
}

.app {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  place-items: center;
}

.header,
.footer {
  padding: 1rem;
  width: 100%;
}

.header {
  margin-bottom: 1rem;
}

.footer {
  margin-top: auto;
}

.container {
  padding: 1rem 4rem;
  width: 100%;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}/*# sourceMappingURL=style.css.map */